@media screen and (max-width:1260px){
    #home .h-primary{
        font-size: 2.0rem;
    }
    #home p{
        font-size: 1.0rem;
    }
    /* #btn{
        background-color: rgb(64, 64, 100);
    } */
}
@media screen and (max-width:950px){
    #navbar{
        display: flex;
        flex-direction: column;
    }
    #services{
        display: flex;
        flex-direction: column;
    }

    #home .h-primary{
        
    }
    #home{
        display: flex;
        flex-direction: column;
    }
    #home p{
        font-size: 1.0rem;
    }
   
    #clients .clientitems img{
        height: 90px;
        padding: 10px 25px;
        margin: 1px;
    }
}
    @media screen and (max-width:640px){
        #navbar ul li a{
            padding: 0px 10px;
            font-size: 1.0rem;
        }
        #services{
            display: flex;
            flex-direction: column;
        }
    
    /* #services .box{
        height: 300px;
        width: 100px;
        padding: 34px 3px;;
    }
    #services .box img{
        height: 100px;
        width: 100px;
    } */
    #services .box .h-secondary{
        font-size: 1.0rem;
    }
    #services .box p{
       font-size: 0.7rem;
    }
    #clients .clientitems img{
    
        padding: 10px 5px;
        
    }
    #home p{
        font-size: 0.7rem;
    }
    #btn{

        height: 49px;
        width: 126px;
        font-size: 1.0rem;
    }
    }
